<div class="content-spacing">
    <div class="container-fluid">
    <h1 class="fontsize-20">Unplanned Leave Settings</h1>
    <!--Standard table start-->
    <div class="standard-table mtp30">
        <div class="table-responsive">
            <table id="sticky-header" class="table table-bordered sticky-header" summary="Employee Monthly Leave Factor">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%" scope="col" id="year">Immediate Leave Availed(Days)</th>
                        <th width="20%" scope="col" id="year">Deduction - Immediate Balance</th>
                        <th width="50%" scope="col" id="leaveFactor">Deduction - Total Leave Balance</th>
                        <th width="10%" scope="col" id="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of leaveFactors; let i = index; let first = first; let last = last">
                        <td width="20%" headers="rangeFrom">
                            <input type="hidden" [(ngModel)]="item.LeaveFactorTypeId" id="LeaveFactorTypeId"
                                value="{{item.LeaveFactorTypeId}}">
                            <input type="hidden" [(ngModel)]="item.Id" id="Id" value="{{item.Id}}">
                            <input type="hidden" [(ngModel)]="item.RangeFrom" id="RangeFrom" value="{{item.RangeFrom}}">
                            <input type="hidden" [(ngModel)]="item.isEditable" id="isEditable" value="{{item.isEditable}}">
                            <p *ngIf="!last">{{item.RangeFrom}}</p>
                            <p *ngIf="last">More than 2</p>
                        </td>
                        <td width="20%" headers="rangeTo">
                            <p *ngIf="!item.isEditable">{{item.RangeTo}}</p>
                            <input *ngIf="item.isEditable" appTwoDigitDecimaNumber maxlength="5"  [(ngModel)]="item.RangeTo"
                                class="form-control input-number w-75" type="number" id="inputleaveFactor" (input)="onRangeToValueChange(i,$event.target.value)"
                                (keyup.enter)="onKeyEnter(i,$event.target.value)"
                                value="{{item.RangeTo}}">
                        </td>
                        <td width="50%" headers="leaveFactor">
                            <p *ngIf="!last">{{item.FactorValue}}</p>
                            <p *ngIf="last">Number of leaves availed</p>
                            <input type="hidden" [(ngModel)]="item.FactorValue" id="FactorValue" value="{{item.FactorValue}}">
                        </td>
                        <td width="10%" headers="action">
                            <button *ngIf="!item.isEditable" class="btn btn-primary btn-small"
                                (click)="onEditRow($event,i)">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
                            </button>
                            <button *ngIf="item.isEditable" [disabled]="item.isDisabled" class="btn btn-success btn-small"
                                (click)="onEditRow($event,i)">
                                <i class="fa fa-refresh" aria-hidden="true"></i> Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Standard table end-->

</div>
</div>
