<section class="leaves-navbar" id="main">
    <div class="main-page-navigation sub-menu" role="navigation" aria-label="Main Navigation">
        <tabset class="main-page-navigation sub-menu" role="navigation" aria-label="Main Navigation" #staticTabs>

            <tab heading="View Leaves" (selectTab)="onSelect(1)">
                <section class="project-tab formboxTab">

                            <div class="">
                                <app-view-leaves></app-view-leaves>
                            </div>

                </section>
            </tab>

            <tab heading="Apply Leaves" (selectTab)="onSelect(2)">
                <section class="project-tab formboxTab">

                            <div class="">
                                <app-apply-leaves></app-apply-leaves>
                            </div>
   
                </section>
            </tab>


            <tab heading="Pending/Approved Leaves" (selectTab)="onSelect(3)">
                <section class="project-tab formboxTab">

                            <div class="">
                                <app-pending-approved-leaves></app-pending-approved-leaves>
                            </div>

                </section>
            </tab>

            <tab heading="Auto-Taken/Taken/Rejected/Cancelled Leaves" (selectTab)="onSelect(4)">
                <section class="project-tab formboxTab">

                            <div class="">
                                <app-autotaken-taken-rejected-cancelled-leaves>
                                </app-autotaken-taken-rejected-cancelled-leaves>
                            </div>

                </section>
            </tab>


            <tab heading="Public Holiday" (selectTab)="onSelect(5)">
                <section class="project-tab formboxTab">
                    
                            <div class="">
                                <app-public-holiday> </app-public-holiday>
                            </div>

                </section>
            </tab>

        </tabset>
    </div>
</section>