<!--View Leaves start-->
<div class="content-spacing">
<div class="tab-pane fade show active" id="summaryReportLeaves" role="tabpanel" aria-labelledby="srp-tab">
    <div class="container-fluid">
        <div class="srl-w">
            <div class="row">
                <div class="col-md-12">
                    <div class="leave-listing">
                        <ul>
                            <li><strong>Leave Balance:</strong> 1</li>
                            <li><strong>Negative Leave Balance:</strong> 0</li>
                            <li><strong>Immediate:</strong> 2</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <h1 class="fontsize-20 mbtm20">Leave Ledger</h1>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="lsrSelectEmployee">Select Employee</label>
                                <select class="custom-select" id="lsrSelectEmployee">
                                    <option selected="">Select Employee</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="lsrSelectMonth">Select Month</label>
                                <select class="custom-select" id="lsrSelectMonth">
                                    <option selected="">Select Month</option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="lsrSelectYear">Select Year</label>
                                <select class="custom-select" id="lsrSelectYear">
                                    <option selected="">Select Year</option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="standard-table mtp20">
                        <div class="table-responsive">
                            <table class="table table-bordered" summary="Employee Monthly Leave Factor">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" id="employeeId">Employee Id</th>
                                        <th scope="col" id="employeeName">Employee Name</th>
                                        <th scope="col" id="leaveFactr">Leave Factor</th>
                                        <th scope="col" id="plannedLeaves">Planned Leaves</th>
                                        <th scope="col" id="immediateLeaves">Immediate Leaves</th>
                                        <th scope="col" id="unPlannedLeaves">Unplanned Leaves</th>
                                        <th scope="col" id="totaLeaveBalance">Total Leave Balance</th>
                                        <th scope="col" id="immediateInstance">Immediate Instance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Yatin Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Mohit Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Mohit Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Yatin Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Mohit Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3292</td>
                                        <td headers="employeeName">Yatin Chawla</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                    <tr>
                                        <td headers="employeeId">3252</td>
                                        <td headers="employeeName">Mohit Goyal</td>
                                        <td headers="leaveFactr">1</td>
                                        <td headers="plannedLeaves">0</td>
                                        <td headers="immediateLeaves">4</td>
                                        <td headers="unPlannedLeaves">2</td>
                                        <td headers="totaLeaveBalance">10</td>
                                        <td headers="immediateInstance">3</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!--View Leaves end-->