<div class="container">
    <h2>List of Companies</h2>

    <a routerLink="/update-company/0" class="btn btn-primary pull-right"><i class="fa fa-add"></i> Add Company</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>CEO</th>
                <th>TurnOver</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ObjCompanyList;">
                <td>{{item.id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ceo}}</td>
                <td>{{item.turnover}}</td>
                <td>
                    <a href="/update-company/{{item.id}}" class="btn btn-primary mr-5"><i class="fa fa-pencil"></i> Edit</a> &nbsp;&nbsp;&nbsp;
                    <a href="/company/{{item.id}}" class="btn btn-primary"><i class="fa fa-info"></i> Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>