<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="leave-listing">
                <ul>
                    <li>Leave Balance: 1</li>
                    <li>Balance: 0</li>
                    <li>Immediate: 2</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
         <h1 class="fontsize-20">Public Holiday List</h1>
        </div>
        <div class="col-lg-4">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="sr-only" for="phConsulting">Consulting</label>
                      <select class="custom-select" id="phConsulting">
                        <option selected="">Consulting</option>
                        <option value="1">Consulting</option>
                      </select>
                    </div>    
              </div> 
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="sr-only" for="phYear">Year</label>
                      <select class="custom-select" id="phYear">
                        <option selected="">2019</option>
                        <option value="1">2017</option>
                        <option value="2">2018</option>
                      </select>
                    </div>    
              </div>    
          </div>
        </div>
      </div>
    
      <div class="row">
      <div class="col-md-12">
        <div class="standard-table mtp20">
            <div class="table-responsive">
         <table class="table table-bordered" summary="List of Employees">
          <thead class="thead-dark">
            <tr>
              <th scope="col" id="trclName">Name</th>
              <th scope="col" id="trclLtype">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="trclName">New Year</td>
              <td headers="trclLtype">Full Day Leave / Planned</td>
            </tr>
            <tr>
                <td headers="trclName">Parul Goel</td>
                <td headers="trclLtype">Full Day Leave / Planned</td>
              </tr>
              <tr>
                <td headers="trclName">Parul Goel</td>
                <td headers="trclLtype">Full Day Leave / Planned</td>
              </tr>           
              
          </tbody>
        </table>   
            
        </div>        
            </div> 
            <div class="table-pagination">
                <div class="row">
                <div class="col-md-6">
                <p>Showing 4 out of 4 entries</p>
                </div>
                <div class="col-md-6">
                 <nav aria-label="Table navigation">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link active" href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>   
                </div>    
                </div>      
                </div> 
      </div>    
      </div>
    </div>
    