<div class="content-spacing">
<div class="container-fluid">
    <div class="publh-w">
        <div class="row">
            <div class="col-lg-4">
                <h1 id="publicHolidaySettings" class="fontsize-20">Public Holidays Settings</h1>
            </div>
            <div class="col-lg-8">
                <div class="rt-actions">
                    <ul>
                        <li>
                            <button type="button" (click)="onAddPublicHoliday()" class="btn btn-add btn-small">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Public Holiday
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="standard-table">
                    <div class="table-responsive">
                        <table id="sticky-header" class="table table-bordered" summary="Public Holidays Settings">
                            <thead class="thead-dark sticky-header">
                                <tr>
                                    <th width="15%" scope="col" id="pubDateYear">Date/Year</th>
                                    <th width="20%" scope="col" id="pubHoliday">Public Holiday</th>
                                    <th width="50%" scope="col" id="pubDept">Department</th>
                                    <th width="50%" scope="col" id="pubAction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of publicHolidays; let i = index">
                                    <td width="15%" headers="pubDateYear">
                                        <label for="inputDateYear" class="sr-only">Date/Year</label>
                                        <p *ngIf="item.isEditable == 0">
                                            {{item.Date | date:'EEE dd MMM yyyy'}}</p>
                                        <div class="form-group mbtm0">
                                            <div *ngIf="item.isEditable != 0" class="input-group">
                                                <input type="text" class="form-control fc-mini w-75" appDateOnly
                                                    [ngClass]="{ 'is-invalid': item.isEditable != 0 && item.isRequired && !item.Date }"
                                                    [(ngModel)]="item.Date" #datepickerFull="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" appDateOnly>
                                                <div class="input-group-prepend icon-holder">
                                                    <span class="input-group-text"> <i class="fa fa-calendar"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div *ngIf="item.isEditable != 0 && item.isRequired && !item.Date"
                                                [ngClass]="{ 'display-block': item.isEditable != 0 && item.isRequired }"
                                                class="invalid-feedback text-danger pull-right">
                                                <div>This field is required</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="20%" headers="pubHoliday">
                                        <label for="inputDateYear" class="sr-only">Public Holiday</label>
                                        <p *ngIf="item.isEditable == 0">{{item.Name}}</p>
                                        <div class="form-group mbtm0">
                                            <input *ngIf="item.isEditable != 0" [(ngModel)]="item.Name" appNotAllowOnlySpace
                                                [ngClass]="{ 'is-invalid': item.isEditable != 0 && item.isRequired && !item.Name }"
                                                (input)="onNameValueChange($event.target.value,i,item.isEditable)"
                                                class="form-control fc-mini w-100" type="text" id="inputleaveFactor"
                                                value="{{item.Name}}">
                                            <div *ngIf="item.isEditable != 0 && item.isRequired && !item.Name"
                                                [ngClass]="{ 'display-block': item.isEditable != 0 && item.isRequired }"
                                                class="invalid-feedback text-danger pull-right">
                                                <div>This field is required</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="50%" headers="pubDept">
                                        <div *ngIf="item.isEditable == 0">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId" disabled
                                                    id="consultingRadiobtn{{i+1}}" value="200001"
                                                    name="customRadioInline{{i+1}}" class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="consultingRadiobtn{{i+1}}">Consulting</label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId" disabled
                                                    id="bpoRadiobtn{{i+1}}" value="200002"
                                                    name="customRadioInline{{i+1}}" class="custom-control-input">
                                                <label class="custom-control-label" for="bpoRadiobtn{{i+1}}">KPO
                                                    B</label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId" disabled
                                                    id="bothRadiobtn{{i+1}}" value="" name="customRadioInline{{i+1}}"
                                                    class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="bothRadiobtn{{i+1}}">Both</label>
                                            </div>
                                        </div>
                                        <div *ngIf="item.isEditable != 0">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId"
                                                    id="consultingRadiobtn{{i+1}}" value="200001"
                                                    name="customRadioInline{{i+1}}" class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="consultingRadiobtn{{i+1}}">Consulting</label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId"
                                                    id="bpoRadiobtn{{i+1}}" value="200002"
                                                    name="customRadioInline{{i+1}}" class="custom-control-input">
                                                <label class="custom-control-label" for="bpoRadiobtn{{i+1}}">KPO
                                                    B</label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [(ngModel)]="item.HolidayGroupTypeId"
                                                    id="bothRadiobtn{{i+1}}" value="" name="customRadioInline{{i+1}}"
                                                    class="custom-control-input">
                                                <label class="custom-control-label"
                                                    for="bothRadiobtn{{i+1}}">Both</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="50%" headers="pubAction">

                                        <button *ngIf="item.isEditable == 0" class="btn btn-primary btn-small mrt5"
                                            (click)="onEditRow($event,i,0)">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
                                        </button>
                                        <button *ngIf="item.isEditable == 1" class="btn btn-info btn-small mrt5"
                                            (click)="onEditRow($event,i,1)">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                                        </button>
                                        <button *ngIf="item.isEditable == 2" class="btn btn-success btn-small mrt5"
                                            (click)="onEditRow($event,i,2)">
                                            <i class="fa fa-refresh" aria-hidden="true"></i> Update
                                        </button>

                                        <button *ngIf="item.isEditable == 2" class="btn c-trash-btn "
                                            (click)="onEditRow($event,i,3)">
                                            <i class="fa fa-trash" aria-hidden="true"></i> <span
                                                class="sr-only">Delete</span>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>