<div class="content-spacing">
  <div class="row">
    <div class="col-md-12">
      <div class="leave-listing">
        <ul>
          <li *ngIf="empId == 0"><strong>Add New Employee</strong></li>
          <li *ngIf="empId != 0"><strong>Update Employee</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="employee-w" aria-labelledby="employee">
    <div class="row">
      <div class="col-md-12">
        <h1 id="employee" class="sr-only">Add Employeee</h1>
        <form [formGroup]="employeeModel" (ngSubmit)="onSubmit()">
          <input type="hidden" class="form-control" formControlName="employeeId" id="employeeId">
          <div class="form-group">
            <label for="employeeCode">Employee ID<span class="asterik">*</span></label>
            <input type="text" class="form-control" maxlength="7" formControlName="employeeCode"
              (input)="ValidateEmployeeCodeNotTaken($event.target.value)" appDigitNumberOnly
              [ngClass]="{ 'is-invalid': (submitted || f.employeeCode.dirty || f.employeeCode.touched) && f.employeeCode.errors }"
              id="employeeCode">

            <div *ngIf="(submitted || f.employeeCode.dirty || f.employeeCode.touched) && f.employeeCode.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.employeeCode.errors.required">This field is required</div>
            </div>
            <div class="invalid-feedback text-danger pull-right" [ngClass]="{ 'display-block': employeeCodeTaken }">
              <div *ngIf="employeeCodeTaken">Employee ID already exists</div>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">First Name<span class="asterik">*</span></label>
            <input type="text" class="form-control" maxlength="50" formControlName="firstName" appNotAllowOnlySpace
              [ngClass]="{ 'is-invalid': (submitted || f.firstName.dirty || f.firstName.touched) && f.firstName.errors }"
              id="firstName">
            <div *ngIf="(submitted || f.firstName.dirty || f.firstName.touched) && f.firstName.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.firstName.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name<span class="asterik">*</span></label>
            <input type="text" class="form-control" maxlength="50" formControlName="lastName" appNotAllowOnlySpace
              [ngClass]="{ 'is-invalid': (submitted || f.lastName.dirty || f.lastName.touched) && f.lastName.errors }" id="lastName">
            <div *ngIf="(submitted || f.lastName.dirty || f.lastName.touched) && f.lastName.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.lastName.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="emailAddress">Email Address<span class="asterik">*</span></label>
            <input type="email" class="form-control" maxlength="100" formControlName="emailAddress"
              (input)="validateEmailNotTaken($event.target.value)"
              [ngClass]="{ 'is-invalid': (submitted || f.emailAddress.dirty || f.emailAddress.touched) && f.emailAddress.errors }"
              id="emailAddress">

            <div *ngIf="(submitted || f.emailAddress.dirty || f.emailAddress.touched) && f.emailAddress.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.emailAddress.errors.required">This field is required</div>
              <div *ngIf="!f.emailAddress.errors.required && f.emailAddress.invalid">Please enter the valid email
                address</div>
            </div>
            <div class="invalid-feedback text-danger pull-right" [ngClass]="{ 'display-block': emailTaken }">
              <div *ngIf="emailTaken">Email Address already exists</div>
            </div>
          </div>
          <div class="form-group">
            <label for="photoAttachment">Photo</label>
            <div class="add-attachment w-117" *ngIf="attachmentObj == null">
             
              <input type="file" class="form-control-file" accept="image/*"
                formControlName="photoAttachment" (change)="onAddAttachment($event)" id="photoAttachment">
                <span style="cursor: pointer;"><i class="fa fa-paperclip" aria-hidden="true"></i> Add Attachment </span>
            </div>
            <div class="" *ngIf="attachmentObj != null">
              <div class="row">
                <div class="col-md-8">
                  <a href="{{attachmentObj.fileUrl}}" target="_blank">{{attachmentObj.originalname}}</a>
                </div>
                <div class="col-md-4">
                  <button type="button"
                    class="close-progress btn-xs fa fa-minus-circle remove-icon blue-hover border-0 pull-right"
                    (click)="onDeleteAttachment(attachmentObj.filename)" style="display: block;"><span
                      class="sr-only">Remove selected
                      File</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfbirth">Date of Birth<span class="asterik">*</span></label>
            <div class="input-group">
              <input id="dateOfbirth" type="text" class="form-control input-cal" formControlName="dateOfbirth" readonly
                [ngClass]="{ 'is-invalid': (submitted || f.dateOfbirth.dirty || f.dateOfbirth.touched) && f.dateOfbirth.errors }"
                appDateOnly #datepickerFull="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" [maxDate]="maxDate">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
            <div *ngIf="(submitted || f.dateOfbirth.dirty || f.dateOfbirth.touched) && f.dateOfbirth.errors"
              [ngClass]="{ 'display-block': (submitted || f.dateOfbirth.dirty || f.dateOfbirth.touched) && f.dateOfbirth.errors }"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.dateOfbirth.errors.required">This field is required</div>
              <div *ngIf="!f.dateOfbirth.errors.required && f.dateOfbirth.invalid">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <div class="custom-control custom-radio custom-control-inline mlt15">
              <input type="radio" formControlName="gender"
                [ngClass]="{ 'is-invalid': (submitted || f.gender.dirty || f.gender.touched) && f.gender.errors }" id="maleRadiobtn"
                value="1" name="gender" class="custom-control-input">
              <label class="custom-control-label" for="maleRadiobtn">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" formControlName="gender"
                [ngClass]="{ 'is-invalid': (submitted || f.gender.dirty || f.gender.touched) && f.gender.errors }"
                id="femaleRadiobtn" value="2" name="gender" class="custom-control-input">
              <label class="custom-control-label" for="femaleRadiobtn">Female</label>
            </div>
            <div *ngIf="(submitted || f.gender.dirty || f.gender.touched) && f.gender.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.gender.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="marriageAnniversary">Marriage Anniversary</label>
            <div class="input-group">
              <input id="marriageAnniversary" type="text" class="form-control input-cal" formControlName="marriageAnniversary" readonly
                #datepickerFull="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" appDateOnly [maxDate]="maxDate">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile Number<span class="asterik">*</span></label>
            <div class="mobile-field">
              <div class="code-select">
                <label for="countryCode" class="sr-only">Country Code</label>
              </div>

              <select2 [data]="countryCodes" [value]="countryCodeSelectedValue" (valueChanged)="onCountryCodeChanged($event)"
                cssImport="true" formControlName="countryCode" id="countryCode"
              style="width:70px; left: 0; position:absolute;"></select2>

              <!-- <select class="custom-select" formControlName="countryCode" id="countryCode"
                style="width:70px; left: 0; position:absolute;">
                <option *ngFor="let item of countryCodes" value={{item.Code}}>
                  {{item.Code}}
                </option>
              </select> -->
              <input type="text" matInput mask="000-000-0000" minlength="10" maxlength="12" class="form-control"
                placeholder="xxx-xxx-xxxx" formControlName="mobileNumber"
                [ngClass]="{ 'is-invalid': (submitted || f.mobileNumber.dirty || f.mobileNumber.touched) && f.mobileNumber.errors }"
                id="mobileNumber">
            </div>
            <div *ngIf="(submitted || f.mobileNumber.dirty || f.mobileNumber.touched) && f.mobileNumber.errors"
              class="invalid-feedback text-danger pull-right"
              [ngClass]="{ 'display-block': (submitted || f.mobileNumber.dirty || f.mobileNumber.touched) && f.mobileNumber.errors }">
              <div *ngIf="f.mobileNumber.errors.required">This field is required</div>
              <div *ngIf="!f.mobileNumber.errors.required && f.mobileNumber.invalid">Enter valid Mobile Number</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfjoining">Date of Joining<span class="asterik">*</span></label>
            <div class="input-group">
              <input id="dateOfjoining" type="text" class="form-control input-cal" formControlName="dateOfjoining" readonly
                (bsValueChange)="onChangeJoiningDate($event)"
                [ngClass]="{ 'is-invalid': (submitted || f.dateOfjoining.dirty || f.dateOfjoining.touched) && f.dateOfbirth.errors }"
                #datepickerFull="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" appDateOnly [maxDate]="maxDate">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
            <div *ngIf="(submitted || f.dateOfjoining.dirty || f.dateOfjoining.touched) && f.dateOfjoining.errors"
              [ngClass]="{ 'display-block': (submitted || f.dateOfjoining.dirty || f.dateOfjoining.touched) && f.dateOfjoining.errors }"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.dateOfjoining.errors.required">This field is required</div>
              <div *ngIf="!f.dateOfjoining.errors.required && f.dateOfjoining.invalid">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="departmentId">Select Department<span class="asterik">*</span></label>
            <select class="custom-select" formControlName="departmentId"
              [ngClass]="{ 'is-invalid': (submitted || f.departmentId.dirty || f.departmentId.touched) && f.departmentId.errors }"
              id="departmentId">
              <option value="">Select Department</option>
              <option *ngFor="let item of departments" value={{item.ID}}>
                {{item.Name}}
              </option>
            </select>
            <div *ngIf="(submitted || f.departmentId.dirty || f.departmentId.touched) && f.departmentId.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.departmentId.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <div class="input-group">
              <input type="text" class="form-control" maxlength="50" formControlName="jobTitle" appNotAllowOnlySpace
                id="jobTitle">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="jobRole">Job Role</label>
            <div class="input-group">
              <input type="text" class="form-control" maxlength="50" formControlName="jobRole" appNotAllowOnlySpace
                id="jobRole">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="reportingManagerId">Select Reporting Manager<span class="asterik">*</span></label>
            <select class="custom-select" formControlName="reportingManagerId"
              (change)="onReportingManagerChange($event)"
              [ngClass]="{ 'is-invalid': (submitted || f.reportingManagerId.dirty || f.reportingManagerId.touched) && f.reportingManagerId.errors }"
              id="reportingManagerId">
              <option value="">Select Reporting Manager</option>
              <option *ngFor="let item of employees" value={{item.ID}}>
                {{item.Name}}
              </option>
            </select>
            <div *ngIf="(submitted || f.reportingManagerId.dirty || f.reportingManagerId.touched) && f.reportingManagerId.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.reportingManagerId.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="projectManagerId">Select Secondary Approver</label>
            <angular2-multiselect formControlName="projectManagerId" id="projectManagerId"
              placeholder="Select Secondary Approver" [data]="projectManagers" [(ngModel)]="selectedItems"
              [settings]="dropdownSettings" (onDeSelect)="onItemDeSelect($event)" (onSelect)="onItemSelect($event)"
              (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <label for="initiaLeaveBalance">Initial Leave Balance</label>
            <input type="text" class="form-control" formControlName="initiaLeaveBalance" disabled
              appTwoDigitDecimaNumber
              [ngClass]="{ 'is-invalid': (submitted || f.initiaLeaveBalance.dirty || f.initiaLeaveBalance.touched) && f.initiaLeaveBalance.errors }"
              id="initiaLeaveBalance">
            <div *ngIf="(submitted || f.initiaLeaveBalance.dirty || f.initiaLeaveBalance.touched) && f.initiaLeaveBalance.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.initiaLeaveBalance.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="initialImmediateBalance">Initial Immediate Balance</label>
            <input type="text" class="form-control" formControlName="initialImmediateBalance" disabled
              appTwoDigitDecimaNumber
              [ngClass]="{ 'is-invalid': (submitted || f.initialImmediateBalance.dirty || f.initialImmediateBalance.touched) && f.initialImmediateBalance.errors }"
              id="initialImmediateBalance">
            <div
              *ngIf="(submitted || f.initialImmediateBalance.dirty || f.initialImmediateBalance.touched) && f.initialImmediateBalance.errors"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.initialImmediateBalance.errors.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="statusId">Select Status</label>
            <select class="custom-select" (change)="onStatusChange($event.target.value)" formControlName="statusId"
              id="statusId">
              <option value="1">Active</option>
              <option value="0">Inactive</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lastWorkingDay">Last Working Day<span *ngIf="!statusId" class="asterik">*</span></label>
            <div class="input-group">
              <input id="lastWorkingDay" type="text" class="form-control input-cal" formControlName="lastWorkingDay"
                [ngClass]="{ 'is-invalid': (submitted || f.lastWorkingDay.dirty || f.lastWorkingDay.touched) && f.lastWorkingDay.errors }"
                #datepickerFull="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" appDateOnly
                [minDate]="minLastWorkingDate">
              <div class="input-group-prepend icon-holder">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
            <div *ngIf="(submitted || f.lastWorkingDay.dirty || f.lastWorkingDay.touched) && f.lastWorkingDay.errors"
              [ngClass]="{ 'display-block': (submitted || f.lastWorkingDay.dirty || f.lastWorkingDay.touched) && f.lastWorkingDay.errors }"
              class="invalid-feedback text-danger pull-right">
              <div *ngIf="f.lastWorkingDay.errors.required">This field is required</div>
              <div *ngIf="!f.lastWorkingDay.errors.required && f.lastWorkingDay.invalid">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="isHR">HR/Admin</label>
            <div class="custom-control custom-radio custom-control-inline mlt15">
              <input type="radio" formControlName="isHR" value="1" id="YesHRAdminRadiobtn" class="custom-control-input">
              <label class="custom-control-label" for="YesHRAdminRadiobtn">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" formControlName="isHR" value="0" id="NoHRAdminRadiobtn" class="custom-control-input">
              <label class="custom-control-label" for="NoHRAdminRadiobtn">No</label>
            </div>
          </div>
          <div class="text-right button-region">
            <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
            <button type="submit" [disabled]="employeeCodeTaken || emailTaken"
              class="btn btn-primary mlt15">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>