<div class="content-spacing">
<div class="emy-w">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="fontsize-20">Leaves Detail</h1>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-4" *ngxPermissionsOnly="['HR','Admin']">
            <div class="form-group">
              <label class="sr-only" for="selectEmployee">Select Employee</label>
              <select class="custom-select" [(ngModel)]="leaveDetailsEmployeeId" id="selectEmployee">
                <option *ngFor="let item of leaveDetailsEmployees" value={{item.ID}}>
                  {{item.Name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="selectMonth">Select Month</label>
              <select class="custom-select" id="selectMonth">
                <option selected>Select Month</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="selectYear">Select Year</label>
              <select class="custom-select" id="selectYear">
                <option selected>Select Year</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="leave-w">
  <div class="container-fluid">
    <div class="leave-status">
      <div class="ls-box">
        <div class="circled taken-bg">
          <h2>2</h2>
        </div>
        <h3 class="fontsize-20">Taken</h3>
      </div>

      <div class="ls-box">
        <div class="circled approved-bg">
          <h2>8</h2>
        </div>
        <h3 class="fontsize-20">Approved</h3>
      </div>

      <div class="ls-box">
        <div class="circled pending-bg">
          <h2>4</h2>
        </div>
        <h3 class="fontsize-20">Pending</h3>
      </div>

      <div class="ls-box">
        <div class="circled cancelled-bg">
          <h2>6</h2>
        </div>
        <h3 class="fontsize-20">Cancelled</h3>
      </div>

      <div class="ls-box">
        <div class="circled rejected-bg">
          <h2>2</h2>
        </div>
        <h3 class="fontsize-20">Rejected</h3>
      </div>
    </div>
  </div>
</div>

<!--Timesheet start-->
<div class="timesheet-w ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="timesheet-cont box-ui">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="fontsize-20">Timesheet</h3>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <div class="timesheet-filter">
                      <button type="button"><i class="fa fa-caret-left" aria-hidden="true"></i><span
                          class="sr-only">previous button</span></button>
                      <span>06 Jan 2020 to 12 Jan 2020</span>
                      <button type="button"><i class="fa fa-caret-right" aria-hidden="true"></i><span
                          class="sr-only">next button</span></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-5" *ngxPermissionsOnly="['HR','Admin']">
                  <div class="form-group">
                    <label class="sr-only" for="selectEmployeeTimesheet">Select Employee</label>
                    <select class="custom-select" [(ngModel)]="TimesheetEmployeeId" id="selectEmployeeTimesheet">
                      <option *ngFor="let item of TimesheetEmployees" value={{item.ID}}>
                        {{item.Name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="gauge-timesheet">
            <div class="row">
              <div class="col-md-4">
                <div class="gauge-area">
                  <img src="/assets/images/gauge-img.png" alt="Gauge">
                </div>
              </div>
              <div class="col-md-4">
                <div class="gauge-area">
                  <img src="/assets/images/gauge-img.png" alt="Gauge">
                </div>
              </div>
              <div class="col-md-4">
                <div class="gauge-area">
                  <img src="/assets/images/gauge-img.png" alt="Gauge">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!--Timesheet start-->