<!-- <a id="skip-link" pageScroll  class="skip-main" [pageScrollDuration]="200" href="#main-cont" >Skip to content</a> -->
<a class="skip-main" [href]="skipLinkPath">Skip to content</a>
<div class="wrapper" id="wrapper">
  <!--header start-->
  <header>
    <!--Navbar start-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>
    <!--Navbar end-->
  </header>
  <!-- header end -->

  <!--Content start-->
  <main id="main-cont">
    <section class="">
      <router-outlet></router-outlet>
    </section>
  </main>
  <!--Content end-->
  <div class="push"></div>
</div>
<!--Footer start-->
<footer>
  <p>Copyright © 2020. All rights reserved.</p>
</footer>