<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="leave-listing">
                <ul>
                    <li>Leave Balance: 1</li>
                    <li>Balance: 0</li>
                    <li>Immediate: 2</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
         <h1 class="fontsize-20 mbtm20">Leaves Summary Report</h1>
        </div>
        <div class="col-lg-4">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="sr-only" for="trclSelectEmployee">Select Employee</label>
                      <select class="custom-select" id="trclSelectEmployee">
                        <option selected="">Select Employee</option>
                        <option value="1">Sandeep</option>
                        <option value="2">Sanjay</option>
                      </select>
                    </div>    
              </div> 
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="sr-only" for="trclSelectStatus">Select Status</label>
                      <select class="custom-select" id="trclSelectStatus">
                        <option selected="">Select Status</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                      </select>
                    </div>    
              </div>    
          </div>
        </div>
      </div>
    
      <div class="row">
      <div class="col-md-12">
        <div class="standard-table mtp20">
            <div class="table-responsive">
         <table class="table table-bordered" summary="List of Employees">
          <thead class="thead-dark">
            <tr>
              <th scope="col" id="trclName">Name</th>
              <th scope="col" id="trclLtype">Leave Type / Avail</th>
              <th scope="col" id="trclStartDate">Start Date</th>
              <th scope="col" id="trclEnDate">End Date</th>
              <th scope="col" id="trclDuration">Duration</th>
              <th scope="col" id="trclStatus">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="trclName">Parul Goel</td>
              <td headers="trclLtype">Full Day Leave / Planned</td>
              <td headers="trclStartDate">Tue 29 Oct 2019</td>
              <td headers="trclEnDate">Tue 29 Nov 2019</td>
              <td headers="trclDuration">1</td>
              <td headers="trclStatus">Taken</td>
            </tr>
            <tr>
                <td headers="trclName">Parul Goel</td>
                <td headers="trclLtype">Full Day Leave / Planned</td>
                <td headers="trclStartDate">Tue 29 Oct 2019</td>
                <td headers="trclEnDate">Tue 29 Nov 2019</td>
                <td headers="trclDuration">1</td>
                <td headers="trclStatus">Rejected</td>
              </tr>
              <tr>
                <td headers="trclName">Parul Goel</td>
                <td headers="trclLtype">Full Day Leave / Planned</td>
                <td headers="trclStartDate">Tue 29 Oct 2019</td>
                <td headers="trclEnDate">Tue 29 Nov 2019</td>
                <td headers="trclDuration">1</td>
                <td headers="trclStatus">Cancelled</td>
              </tr>
            
              
          </tbody>
        </table>   
            
        </div>        
            </div> 
            <div class="table-pagination">
                <div class="row">
                <div class="col-md-6">
                <p>Showing 4 out of 4 entries</p>
                </div>
                <div class="col-md-6">
                 <nav aria-label="Table navigation">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link active" href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>   
                </div>    
                </div>      
                </div> 
      </div>    
      </div>
    </div>
    