.custom-multi-select > .cuppa-dropdown {
    position: relative;
    border: 1px solid grey;
}


ng-autocomplete {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.input-container{border:1px solid #ced4da; background-color: red;}





