<html>

<head>
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/Login.css" rel="stylesheet">


    <style type="text/css">

    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="https://assets.onebcg.com/favicon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://assets.onebcg.com/favicon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://assets.onebcg.com/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://assets.onebcg.com/favicon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://assets.onebcg.com/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://assets.onebcg.com/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://assets.onebcg.com/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.onebcg.com/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.onebcg.com/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://assets.onebcg.com/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://assets.onebcg.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://assets.onebcg.com/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://assets.onebcg.com/favicon-16x16.png">
</head>

<body style="">

    <div class="loginmodal-container">
        <div class="logo-container">
            <img src="https://assets.onebcg.com/logo.svg" width="220">
        </div>

        <h2 class="application"> ONE CASA</h2>

        <span style="color:red;display:block;margin:0px 0px 20px;"></span>


        <!-- <form id="frmLlogin" action="/Account/RedirectToGoogle/" method="post"> -->
        <button type="submit" id="btnLoginSubmit" (click)="signInWithGoogle()" class="loginBtn loginBtn--google"
            style="">
            <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
        </button>

        <!-- </form> -->

        <div class="login-help">
        </div>
    </div>

</body>

</html>