<div class="content-spacing">
    <div class="container-fluid">
        <div class="publh-w">
            <div class="row">
                
                    <div class="col-md-6">
                        <h1 id="publicHolidaySettings" class="fontsize-20">Employee Joining Leave Factor</h1>
                    </div>
  
                <div class="col-md-6">
                    <div class="rt-actions">
                        <ul *ngIf="!isEditable">
                            <li>
                                <button type="button" class="btn btn-primary btn-small" (click)="onEditRow($event,1)">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
                                </button>
                            </li>
                        </ul>
                        <ul *ngIf="isEditable">
                            <li>
                                <button type="button" class="btn btn-success btn-small" (click)="onEditRow($event,2)">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> Update
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-dark btn-small" (click)="onEditRow($event,0)">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <h1 id="publicHolidaySettings" class="fontsize-20">Employee Joining Leave Factor</h1>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="standard-table ">
                        <div class="table-responsive">
                            <table id="sticky-header" class="table table-bordered sticky-header" summary="Employee Monthly Leave Factor">
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="25%" scope="col" id="year">From Day</th>
                                        <th width="25%" scope="col" id="year">To Day</th>
                                        <th width="50%" scope="col" id="leaveFactor">Leave Factor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of leaveFactors; let i = index; let first = first; let last = last">
                                        <td width="25%" headers="fromYear">
                                            <p *ngIf="isEditable && first">{{item.RangeFrom}}</p>
                                            <p *ngIf="!isEditable">{{item.RangeFrom}}</p>
                                            <input *ngIf="isEditable && !first" appDigitNumberOnly maxlength="2"
                                                [(ngModel)]="item.RangeFrom" class="form-control input-number w-70"
                                                type="number" id="inputleaveFactor"
                                                (input)="onRangeValueChange(i,$event.target.value)"
                                                (keyup.enter)="onRangeValueKeyEnter(i,$event.target.value)"
                                                value="{{item.RangeFrom}}">
                                        </td>
                                        <td width="25%" headers="toYear">
                                            <p *ngIf="isEditable && last">{{item.RangeTo}}</p>
                                            <p *ngIf="!isEditable">{{item.RangeTo}}</p>
                                            <input *ngIf="isEditable && !last" appDigitNumberOnly maxlength="2"
                                                [(ngModel)]="item.RangeTo" class="form-control input-number w-70" type="number"
                                                (input)="onRangeValueChange(i,$event.target.value)"
                                                id="inputleaveFactor"
                                                (keyup.enter)="onRangeValueKeyEnter(i,$event.target.value)"
                                                value="{{item.RangeTo}}">
                                        </td>
                                        <td width="50%" headers="leaveFactor">
                                            <input type="hidden" [(ngModel)]="item.LeaveFactorTypeId"
                                                id="LeaveFactorTypeId" value="{{item.LeaveFactorTypeId}}">
                                            <input type="hidden" [(ngModel)]="item.Id" id="Id" value="{{item.Id}}">
                                            <input type="hidden" [(ngModel)]="item.FactorValue" id="FactorValue"
                                                value="{{item.FactorValue}}">
                                            <input type="hidden" [(ngModel)]="isEditable" id="isEditable"
                                                value="{{isEditable}}">
                                            <p>{{item.FactorValue}} Day</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>