<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="leave-listing">
        <ul>
          <li>Leave Balance: 1</li>
          <li>Negative Balance: 0</li>
          <li>Immediate: 2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mtp15">
    <div class="col-md-12">
      <div class="l-indiciators">
        <ul>
          <li class="halfday">Half Day</li>
          <li class="planned">Planned</li>
          <li class="immediate">Immediate</li>
          <li class="unplanned">Un-Planned</li>
          <li class="publicholiday">Public Holiday</li>
          <li class="weekend">Weekend</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mtp20">
   <div class="col-md-12">
    <div class="leave-listing">
      <ul>
        <li>Leave Status:</li>
        <li>P: Pending</li>
        <li>A: Approved</li>
        <li>R: Rejected</li>
        <li>T: Taken</li>
        <li>O: Public Holiday</li>
      </ul>
    </div>
   </div> 
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="view-leaves mtp20">
        <button type="button" class="prev-btn"><i class="fa fa-angle-left" aria-hidden="true"></i><span
            class="sr-only">Previous</span></button>
        <div class="table-responsive">
          <table class="table table-bordered" role="grid">
            <thead>
              <tr>
                <th scope="col" id="dept" width="190" class="text-left"><a class="sortlink" >Department Name <i class="fa fa-sort-desc" aria-hidden="true"></i></a></th>
                <th scope="col" id="empname" width="150" class="text-left">
                  <div class="input-tyemna-w">
                    <label for="typeEmployeeName" class="sr-only">Type Employee Name</label>
                    <input id="typeEmployeeName" class="input-tyemna" type="text" placeholder="Type Employee Name">
                    <button class="btn-tyemna"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></button>
                  </div>
                  
                </th>
                <th>Jan 19</th>
                <th>Jan 20</th>
                <th>Jan 21</th>
                <th>Jan 22</th>
                <th>Jan 23</th>
                <th>Jan 24</th>
                <th>Jan 25</th>
                <th>Jan 26</th>
                <th>Jan 27</th>
                <th>Jan 28</th>
                <th>Jan 29</th>
                <th>Jan 30</th>
                <th>Jan 31</th>
                <th>Feb 01</th>
                <th>Feb 02</th>
                <th>Feb 03</th>
                <th>Feb 04</th>
                <th>Feb 05</th>
                <th>Feb 06</th>
                <th>Feb 07</th>
                <th>Feb 08</th>
                <th>Feb 09</th>
                <th>Feb 10</th>
                <th>Feb 11</th>
                <th>Feb 12</th>
                <th>Feb 13</th>
                <th>Feb 14</th>
                <th>Feb 15</th>
                <th>Feb 16</th>
                <th>Feb 17</th>
                <th>Feb 18</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td headers="dept" class="text-left">Front End</td>
                <td headers="empname" class="text-left">Inderjit Singh Bedi</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg">O</td>
                <td></td>
                <td></td>
                <td class="taken-bg">T</td>
                <td class="imm-bg">T</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td class="nh-bg" data-toggle="modal" data-target="#leavesDetails">O</td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td headers="dept" class="text-left"> Front End</td>
                <td headers="empname" class="text-left">Gurpreet Singh</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td class="unplanned-bg">T</td>
                <td class="h-imm-bg">T</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg">O</td>
                <td></td>
                <td class="h-planned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="h-planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td class="h-unplanned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td headers="dept" class="text-left">Front End</td>
                <td headers="empname" class="text-left">Inderjit Singh Bedi</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="color-blue holiday-bg">O</td>
                <td></td>
                <td></td>
                <td class="taken-bg">T</td>
                <td class="imm-bg">T</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td headers="dept" class="text-left"> Front End</td>
                <td headers="empname" class="text-left">Gurpreet Singh</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td class="unplanned-bg">T</td>
                <td class="h-imm-bg">T</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg">O</td>
                <td></td>
                <td class="h-planned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="h-planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td class="h-unplanned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td headers="dept" class="text-left">Front End</td>
                <td headers="empname" class="text-left">Inderjit Singh Bedi</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="color-blue holiday-bg">O</td>
                <td></td>
                <td></td>
                <td class="taken-bg">T</td>
                <td class="imm-bg">T</td>
                <td class="compoff-bg">T</td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td headers="dept" class="text-left"> Front End</td>
                <td headers="empname" class="text-left">Gurpreet Singh</td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td class="unplanned-bg">T</td>
                <td class="h-imm-bg">T</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg">O</td>
                <td></td>
                <td class="h-planned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="h-planned-bg">P</td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td class="h-unplanned-bg">T</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="holiday-bg"></td>
                <td class="holiday-bg"></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>
        <button type="button" class="next-btn"><i class="fa fa-angle-right" aria-hidden="true"></i><span
            class="sr-only">Next</span></button>
      </div>
    </div>
  </div>
</div>


<!--Leaves Details start-->
<div class="modal fade" id="leavesDetails" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="viewLeavesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewLeavesLabel">Leave Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 bdr-rt">
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Leave Type:</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Full Day Leave</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Description:</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Diwali Celebration</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Applied On:</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>08 Oct 2020 05:25 PM</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Applied By:</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Ajay Singh</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Start:</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>09:00 AM Fri 25 Oct 2020</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">End :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>06:00 PM Fri 25 Oct 2020</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Duration :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>1</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Summary :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Leave Balance 1</p>
                <p>Immediate Instance 1</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Manager Status :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Approved</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Secondary Status :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Pending</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Leave Status :</p>
              </div>
              <div class="col-sm-6 mbtm10">
                <p>Auto-App</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 mbtm10">
                <p class="label-placeholder">Attachments :</p>
              </div>
              <div class="col-sm-6 mbtm10"><a href="#">certificate.pdf</a></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="status-region">
              <div class="status-box">
                <img alt="" class="img-circle" src="/assets/images/avatar.png" width="45" height="45">
                <h6>Virender Mani Tripathi</h6>
                <p>Ok Approved</p>
                <p>Status: Approved</p>
                <p>18 Oct 2019</p>
              </div>

            </div>

          </div>
        </div>

        <div class="form-group mtp20">
          <label for="writeaComment">Write a Comment</label>
          <textarea id="writeaComment" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <p>Leave Status Approval</p>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsApproved" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsApproved">Mark as Approved</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsCancelled" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsCancelled">Mark as Cancelled</label>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsTaken" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsTaken">Mark as Taken</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsRejected" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsRejected">Mark as Rejected</label>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <p>Avail Type</p>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsPlanned" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsPlanned">Mark as Planned</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-control custom-radio custom-control-inline mbtm10">
                    <input type="radio" id="markAsImmediate" name="lsp" class="custom-control-input">
                    <label class="custom-control-label" for="markAsImmediate">Mark as Immediate</label>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <p>Override Leave</p>
            </div>
            <div class="col-lg-8">

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="overrideLeave">
                <label class="custom-control-label" for="overrideLeave">Override LOP</label>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="epaCancelbtn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="epaUpdatebtn">Update</button>
      </div>
    </div>
  </div>
</div>
<!--Leaves Details end-->