<div class="container">
    <form [formGroup]="ObjForm" (ngSubmit)="onSubmit($event)">
        <div class="row">
            <div class="col-md-2">
                <label class=" mr-sm-2">Company:</label>
            </div>
            <div class="col-md-auto">                
                <select class="form-control mb-2 mr-sm-2" formControlName="companyId" required>
                    <option *ngFor="let item of objCompanies" value="{{item.id}}">{{item.name}}</option>
                </select>
                <div *ngIf="submitted && form['companyId'].errors" class="error">
                    <div *ngIf="form['companyId'].errors['required']">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class=" mr-sm-2">Stock Price:</label>
            </div>
            <div class="col-md-auto">                
                <input type="email" class="form-control mb-2 mr-sm-2" formControlName="stockPrice">
                <div *ngIf="submitted && form['stockPrice'].errors" class="error">
                    <div *ngIf="form['stockPrice'].errors['required']">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class=" mr-sm-2">Start Date:</label>
            </div>
            <div class="col-md-auto">                
                <input type="date" class="form-control mb-2 mr-sm-2" formControlName="startDate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class=" mr-sm-2">End Date:</label>
            </div>
            <div class="col-md-auto">                
                <input type="date" class="form-control mb-2 mr-sm-2" formControlName="endDate">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-auto pull-right">
                <button type="button" (click)="onCancel($event)" class="btn btn-danger mb-2">Cancel</button>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>           
        </div>
       
    </form>
</div>