<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label class=" mr-sm-2">Company Code:</label>
        </div>
        <div class="col-md-auto">
            <input  type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="ObjCompanyStock.companyCode" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class=" mr-sm-2">Company Name:</label>
        </div>
        <div class="col-md-auto">
            <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="ObjCompanyStock.companyName" readonly>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3>List of Stock</h3>
    <a routerLink="/add-company-stock/{{ObjCompanyStock.id}}" class="btn btn-primary pull-right"><i class="fa fa-add"></i> Add Stock</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Stock Price</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ObjCompanyStock.stocks;">
                <td>{{item.stockPrice}}</td>
                <td>{{item.createdOn | date:'dd-MMM-yyyy'}}</td>
                <td>{{item.createdOn | date:'hh:mm:ss'}}</td>
            </tr>
            <tr *ngIf="ObjCompanyStock.stocks.length == 0">
                <td colspan="3" class="text-center">No data found!</td>
            </tr>
        </tbody>
    </table>
</div>